*{
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
    color: inherit;
}

.intro_bg{
    background: url("https://cdn.pixabay.com/photo/2014/01/24/13/32/marathon-250987_960_720.jpg") fixed;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    align-items: center;
    justify-content: space-around;
}

.header{
    display: flex;
    width: 1200px;
    margin: auto;
    height: 86px;
}

.home{
    width: 300px;
    height: 86px;
}

.home > form > span{
    width: 300px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    line-height: 86px;
    font-size: 40px;
}

.nav{
    display: flex;
    line-height: 86px;
    width: calc(1280px - 600px);
    color: #fff;
}

.nav > li{
    margin-left: 84px;
    z-index: 100;
}

.nav > li > a{
    color: #fff;
}

.nav > li:hover .lower_menu{
    display: block;
    background: black;
}

.lower_menu{
    display: none;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-left: -23px;
    position: relative;
}

.customer{
    display: flex;
    width: 300px;
    height: 86px;
    justify-content: flex-end;
}

.customer > li{
    margin-left: 20px;
    color: #fff;
    line-height: 86px;
}

.customer > li > a{
    color: #fff;
}